@charset "utf-8";

p{
	/*16进制的方案*/
	/*color:f00;*/
	/*十进制方案
	color: rgb(0,128,128);
	*/
	/* 多了一个透明度
	color: rgba(0,128,128,0.5);
	*/

	/*相对单位 外边距 内边距*/
	margin: 0; 
	padding: 0;

	/*em字号  px像素  %百分比 三个单位*/
}